
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myItem_ServicoLabel" translate="autocenterMwmApp.item_Servico.home.createOrEditLabel">Create or edit a Item_Servico</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="item_Servico.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.item_Servico.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="item_Servico.descricao"
                    required />
            <div ng-show="editForm.descricao.$invalid">
                <p class="help-block"
                    ng-show="editForm.descricao.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.item_Servico.periodo_manutencao" for="field_periodo_manutencao">Periodo_manutencao</label>
            <input type="number" class="form-control" name="periodo_manutencao" id="field_periodo_manutencao"
                    ng-model="item_Servico.periodo_manutencao"
                    required />
            <div ng-show="editForm.periodo_manutencao.$invalid">
                <p class="help-block"
                    ng-show="editForm.periodo_manutencao.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.periodo_manutencao.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.item_Servico.preco_unitario" for="field_preco_unitario">Preco_unitario</label>
            <input type="number" class="form-control" name="preco_unitario" id="field_preco_unitario"
                    ng-model="item_Servico.preco_unitario"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
