
<div>
    <h2><span translate="autocenterMwmApp.item_Servico.detail.title">Item_Servico</span> {{item_Servico.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.item_Servico.descricao">Descricao</span>
                </td>
                <td>
                    <span class="form-control-static">{{item_Servico.descricao}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.item_Servico.periodo_manutencao">Periodo_manutencao</span>
                </td>
                <td>
                    <span class="form-control-static">{{item_Servico.periodo_manutencao}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.item_Servico.preco_unitario">Preco_unitario</span>
                </td>
                <td>
                    <span class="form-control-static">{{item_Servico.preco_unitario}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
