
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myVeiculoLabel" translate="autocenterMwmApp.veiculo.home.createOrEditLabel">Create or edit a Veiculo</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="veiculo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.veiculo.placa" for="field_placa">Placa</label>
            <input type="text" class="form-control" name="placa" id="field_placa"
                    ng-model="veiculo.placa"
                    required />
            <div ng-show="editForm.placa.$invalid">
                <p class="help-block"
                    ng-show="editForm.placa.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.veiculo.fabricante" for="field_fabricante">Fabricante</label>
            <input type="text" class="form-control" name="fabricante" id="field_fabricante"
                    ng-model="veiculo.fabricante"
                    required />
            <div ng-show="editForm.fabricante.$invalid">
                <p class="help-block"
                    ng-show="editForm.fabricante.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.veiculo.modelo" for="field_modelo">Modelo</label>
            <input type="text" class="form-control" name="modelo" id="field_modelo"
                    ng-model="veiculo.modelo"
                    required />
            <div ng-show="editForm.modelo.$invalid">
                <p class="help-block"
                    ng-show="editForm.modelo.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.veiculo.ano_fabricacao" for="field_ano_fabricacao">Ano_fabricacao</label>
            <input type="number" class="form-control" name="ano_fabricacao" id="field_ano_fabricacao"
                    ng-model="veiculo.ano_fabricacao"
                    required />
            <div ng-show="editForm.ano_fabricacao.$invalid">
                <p class="help-block"
                    ng-show="editForm.ano_fabricacao.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ano_fabricacao.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.veiculo.ano_modelo" for="field_ano_modelo">Ano_modelo</label>
            <input type="number" class="form-control" name="ano_modelo" id="field_ano_modelo"
                    ng-model="veiculo.ano_modelo"
                    required />
            <div ng-show="editForm.ano_modelo.$invalid">
                <p class="help-block"
                    ng-show="editForm.ano_modelo.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ano_modelo.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.veiculo.cor" for="field_cor">Cor</label>
            <input type="text" class="form-control" name="cor" id="field_cor"
                    ng-model="veiculo.cor"
                    required />
            <div ng-show="editForm.cor.$invalid">
                <p class="help-block"
                    ng-show="editForm.cor.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="autocenterMwmApp.veiculo.cliente" for="field_cliente">cliente</label>
            <select class="form-control" id="field_cliente" name="cliente" ng-model="veiculo.cliente" ng-options="cliente as cliente.nome for cliente in clientes track by cliente.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
