<div>
    <h2 translate="autocenterMwmApp.veiculo.home.title">Veiculos</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="veiculo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="autocenterMwmApp.veiculo.home.createLabel">Create new Veiculo
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'autocenterMwmApp.veiculo.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="placa"><span translate="autocenterMwmApp.veiculo.placa">Placa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fabricante"><span translate="autocenterMwmApp.veiculo.fabricante">Fabricante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modelo"><span translate="autocenterMwmApp.veiculo.modelo">Modelo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ano_fabricacao"><span translate="autocenterMwmApp.veiculo.ano_fabricacao">Ano_fabricacao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ano_modelo"><span translate="autocenterMwmApp.veiculo.ano_modelo">Ano_modelo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cor"><span translate="autocenterMwmApp.veiculo.cor">Cor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cliente.nome"><span translate="autocenterMwmApp.veiculo.cliente">cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="veiculo in veiculos track by veiculo.id">
                    <td><a ui-sref="veiculo.detail({id:veiculo.id})">{{veiculo.id}}</a></td>
                    <td>{{veiculo.placa}}</td>
                    <td>{{veiculo.fabricante}}</td>
                    <td>{{veiculo.modelo}}</td>
                    <td>{{veiculo.ano_fabricacao}}</td>
                    <td>{{veiculo.ano_modelo}}</td>
                    <td>{{veiculo.cor}}</td>
                    <td>
                        <a ui-sref="cliente.detail({id:veiculo.cliente.id})">{{veiculo.cliente.nome}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="veiculo.detail({id:veiculo.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="veiculo.edit({id:veiculo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="veiculo.delete({id:veiculo.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
