
<div>
    <h2><span translate="autocenterMwmApp.veiculo.detail.title">Veiculo</span> {{veiculo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.veiculo.placa">Placa</span>
                </td>
                <td>
                    <span class="form-control-static">{{veiculo.placa}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.veiculo.fabricante">Fabricante</span>
                </td>
                <td>
                    <span class="form-control-static">{{veiculo.fabricante}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.veiculo.modelo">Modelo</span>
                </td>
                <td>
                    <span class="form-control-static">{{veiculo.modelo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.veiculo.ano_fabricacao">Ano_fabricacao</span>
                </td>
                <td>
                    <span class="form-control-static">{{veiculo.ano_fabricacao}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.veiculo.ano_modelo">Ano_modelo</span>
                </td>
                <td>
                    <span class="form-control-static">{{veiculo.ano_modelo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.veiculo.cor">Cor</span>
                </td>
                <td>
                    <span class="form-control-static">{{veiculo.cor}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.veiculo.cliente">cliente</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="cliente.detail({id:veiculo.cliente.id})">{{veiculo.cliente.nome}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
