<div>
    <h2 translate="autocenterMwmApp.cliente.home.title">Clientes</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cliente.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="autocenterMwmApp.cliente.home.createLabel">Create new Cliente
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'autocenterMwmApp.cliente.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cpf"><span translate="autocenterMwmApp.cliente.cpf">Cpf</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nome"><span translate="autocenterMwmApp.cliente.nome">Nome</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endereco"><span translate="autocenterMwmApp.cliente.endereco">Endereco</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cep"><span translate="autocenterMwmApp.cliente.cep">Cep</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telefone_residencial"><span translate="autocenterMwmApp.cliente.telefone_residencial">Telefone_residencial</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telefone_celular"><span translate="autocenterMwmApp.cliente.telefone_celular">Telefone_celular</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="cliente in clientes track by cliente.id">
                    <td><a ui-sref="cliente.detail({id:cliente.id})">{{cliente.id}}</a></td>
                    <td>{{cliente.cpf}}</td>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.endereco}}</td>
                    <td>{{cliente.cep}}</td>
                    <td>{{cliente.telefone_residencial}}</td>
                    <td>{{cliente.telefone_celular}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cliente.detail({id:cliente.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cliente.edit({id:cliente.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cliente.delete({id:cliente.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
