
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myClienteLabel" translate="autocenterMwmApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="cliente.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.cliente.cpf" for="field_cpf">Cpf</label>
            <input type="text" class="form-control" name="cpf" id="field_cpf"
                    ng-model="cliente.cpf"
                    required ng-minlength="11" ng-maxlength="11" />
            <div ng-show="editForm.cpf.$invalid">
                <p class="help-block"
                    ng-show="editForm.cpf.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.cpf.$error.minlength" translate="entity.validation.minlength" translate-value-min="11">
                    This field is required to be at least 11 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.cpf.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="11">
                    This field cannot be longer than 11 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.cliente.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="cliente.nome"
                    required />
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.cliente.endereco" for="field_endereco">Endereco</label>
            <input type="text" class="form-control" name="endereco" id="field_endereco"
                    ng-model="cliente.endereco"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.cliente.cep" for="field_cep">Cep</label>
            <input type="text" class="form-control" name="cep" id="field_cep"
                    ng-model="cliente.cep"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.cliente.telefone_residencial" for="field_telefone_residencial">Telefone_residencial</label>
            <input type="text" class="form-control" name="telefone_residencial" id="field_telefone_residencial"
                    ng-model="cliente.telefone_residencial"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.cliente.telefone_celular" for="field_telefone_celular">Telefone_celular</label>
            <input type="text" class="form-control" name="telefone_celular" id="field_telefone_celular"
                    ng-model="cliente.telefone_celular"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
