
<div>
    <h2><span translate="autocenterMwmApp.cliente.detail.title">Cliente</span> {{cliente.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.cliente.cpf">Cpf</span>
                </td>
                <td>
                    <span class="form-control-static">{{cliente.cpf}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.cliente.nome">Nome</span>
                </td>
                <td>
                    <span class="form-control-static">{{cliente.nome}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.cliente.endereco">Endereco</span>
                </td>
                <td>
                    <span class="form-control-static">{{cliente.endereco}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.cliente.cep">Cep</span>
                </td>
                <td>
                    <span class="form-control-static">{{cliente.cep}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.cliente.telefone_residencial">Telefone_residencial</span>
                </td>
                <td>
                    <span class="form-control-static">{{cliente.telefone_residencial}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.cliente.telefone_celular">Telefone_celular</span>
                </td>
                <td>
                    <span class="form-control-static">{{cliente.telefone_celular}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
