
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPedidoLabel" translate="autocenterMwmApp.pedido.home.createOrEditLabel">Create or edit a Pedido</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="pedido.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.pedido.data_pedido" for="field_data_pedido">Data_pedido</label>
                <div class="input-group">
                    <input id="field_data_pedido" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="pedido.data_pedido" is-open="datePickerForData_pedido.status.opened"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForData_pedidoOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.data_pedido.$invalid">
                <p class="help-block"
                    ng-show="editForm.data_pedido.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.pedido.kilometragem" for="field_kilometragem">Kilometragem</label>
            <input type="number" class="form-control" name="kilometragem" id="field_kilometragem"
                    ng-model="pedido.kilometragem"
                    required />
            <div ng-show="editForm.kilometragem.$invalid">
                <p class="help-block"
                    ng-show="editForm.kilometragem.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.kilometragem.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.pedido.observacoes" for="field_observacoes">Observacoes</label>
            <textarea class="form-control" name="observacoes" id="field_observacoes"
                    ng-model="pedido.observacoes"
                     ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.pedido.funcionario" for="field_funcionario">Funcionario</label>
            <input type="text" class="form-control" name="funcionario" id="field_funcionario"
                    ng-model="pedido.funcionario"
                    required />
            <div ng-show="editForm.funcionario.$invalid">
                <p class="help-block"
                    ng-show="editForm.funcionario.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="autocenterMwmApp.pedido.total" for="field_total">Total</label>
            <input type="number" class="form-control" name="total" id="field_total"
                    ng-model="pedido.total"
                    required />
            <div ng-show="editForm.total.$invalid">
                <p class="help-block"
                    ng-show="editForm.total.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.total.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="autocenterMwmApp.pedido.veiculo" for="field_veiculo">veiculo</label>
            <select class="form-control" id="field_veiculo" name="veiculo" ng-model="pedido.veiculo" ng-options="veiculo as veiculo.placa for veiculo in veiculos track by veiculo.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="autocenterMwmApp.pedido.item_Servico" for="field_item_Servico">item_Servico</label>
            <select class="form-control" id="field_item_Servico" multiple name="item_Servico" ng-model="pedido.item_Servicos" ng-options="item_Servico as item_Servico.descricao for item_Servico in item_servicos track by item_Servico.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
