<div>
    <h2 translate="autocenterMwmApp.pedido.home.title">Pedidos</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pedido.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="autocenterMwmApp.pedido.home.createLabel">Create new Pedido
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'autocenterMwmApp.pedido.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="data_pedido"><span translate="autocenterMwmApp.pedido.data_pedido">Data_pedido</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="kilometragem"><span translate="autocenterMwmApp.pedido.kilometragem">Kilometragem</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="observacoes"><span translate="autocenterMwmApp.pedido.observacoes">Observacoes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="funcionario"><span translate="autocenterMwmApp.pedido.funcionario">Funcionario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="total"><span translate="autocenterMwmApp.pedido.total">Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="veiculo.placa"><span translate="autocenterMwmApp.pedido.veiculo">veiculo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="pedido in pedidos track by pedido.id">
                    <td><a ui-sref="pedido.detail({id:pedido.id})">{{pedido.id}}</a></td>
                        <td>{{pedido.data_pedido | date:'mediumDate'}}</td>
                    <td>{{pedido.kilometragem}}</td>
                    <td>{{pedido.observacoes}}</td>
                    <td>{{pedido.funcionario}}</td>
                    <td>{{pedido.total}}</td>
                    <td>
                        <a ui-sref="veiculo.detail({id:pedido.veiculo.id})">{{pedido.veiculo.placa}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pedido.detail({id:pedido.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pedido.edit({id:pedido.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pedido.delete({id:pedido.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
