
<div>
    <h2><span translate="autocenterMwmApp.pedido.detail.title">Pedido</span> {{pedido.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.pedido.data_pedido">Data_pedido</span>
                </td>
                <td>
                    <span class="form-control-static">{{pedido.data_pedido | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.pedido.kilometragem">Kilometragem</span>
                </td>
                <td>
                    <span class="form-control-static">{{pedido.kilometragem}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.pedido.observacoes">Observacoes</span>
                </td>
                <td>
                    <span class="form-control-static">{{pedido.observacoes}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.pedido.funcionario">Funcionario</span>
                </td>
                <td>
                    <span class="form-control-static">{{pedido.funcionario}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.pedido.total">Total</span>
                </td>
                <td>
                    <span class="form-control-static">{{pedido.total}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.pedido.veiculo">veiculo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="veiculo.detail({id:pedido.veiculo.id})">{{pedido.veiculo.placa}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="autocenterMwmApp.pedido.item_Servico">item_Servico</span>
                </td>
                <td>
                    <span ng-repeat="item_Servico in pedido.item_Servicos">
                        <a class="form-control-static" ui-sref="item_Servico.detail({id: {{item_Servico.id}}})">{{item_Servico.descricao}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
